/*
CONTACTS
*/

.contacts {
  width: 52%;
  height: 40px;;
  margin: 20px auto;
  position: sticky;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // background: var(--black-color);
  // fill: var(--white-color);

  & > a:active{
    fill: var(--blue-color);
  }
}