.allProjects {
  position: relative;
  //border: 2px solid red;
  margin-top: 25px;
  
  & > h2 {
    text-align: left;
    background: var(--white-color);
    padding: 22px;
    margin: 110px auto;
    //transform: rotate(-15deg);
    transform: skew(0deg, -13deg);
    position: relative;

    box-shadow: 30px 10px 7px 8px var(--shadowRuban-color);


    //@include vectora_title ;
    font-family: "Vectora LH";
    font-size: 28px;


    &::after {
      content:'';
      background: var(--whiteClear-color);
      //background: red;
      position: absolute;
      width: 100%;
      height: 64px;
      left:0;
      top: -42.6px;
      transform: skew(0deg, 15deg);

      //z-index: -10;
      //margin-top: 20px;
    }

  }
}

.allProjects__grid {
  position: relative;
  border: 2px solid blue;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  & > .project {
    background-color: #fff;

    height: 200px;
  }
}


/*
Projects cards
*/

.project {
  padding: 4px;
  line-height: 1.2em;
}

.project__title {
  font-family: "Vectora LH";
  
  //background: red;
  
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: solid red;
  //border-right: solid var(--black-color);
  
  & > span {
    font-family: "Raleway";
  }

}

.project__description {
  font-family: "Raleway";
  border-bottom: 2px blue;
  //float: left;
  //border-right: solid var(--black-color);
  padding-right: 4px;
  
  
}

.project__description--more {
  font-family: "Raleway";
  font-size: 14px;
}

.skillsUsed__grid {
  position: relative;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 6px minmax(max-content, 1fr) 6px minmax(max-content, 1fr) 6px minmax(max-content, 1fr) ;
  background: yellow;

  margin: 0 10px;

  & > .skillUsed {
    background-color: red;
    position: relative;

  }

  // .skillUsed--html::before {
  //   content:'';
  //   position: absolute;
  //   width: 8px;
  //   height: 8px;
  //   background: black;
  // }

   & > .skillColor {
      //position: absolute;
      width: 20px;
      //height: auto;
      background: black;
      //border-radius: 50%;
    }
}