.allProjects {
  position: relative;
  //border: 2px solid red;
  margin-top: 25px;
  
  & > p {
    text-align: left;
    background: var(--white-color);
    padding: 22px;
    margin: 110px auto;
    //transform: rotate(-15deg);
    transform: skew(0deg, -13deg);
    position: relative;

    box-shadow: 30px 10px 7px 8px var(--shadowRuban-color);


    //@include vectora_title ;
    font-family: "Vectora LH";
    font-size: 28px;


    &::after {
      content:'';
      background: var(--whiteClear-color);
      //background: red;
      position: absolute;
      width: 100%;
      height: 64px;
      left:0;
      top: -42.6px;
      transform: skew(0deg, 15deg);

      //z-index: -10;
      //margin-top: 20px;
    }

  }
}

.allProjects__grid {
  position: relative;
  border: 2px solid blue;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  & > .project {
    background-color: #fff;

    height: 200px;
  }
}
