@font-face {
  font-family: "Vectora LH";
  src: url("../fonts/Vectora_LH_95_Black.ttf") format("ttf");
  font-weight: weight;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

